@using Microsoft.AspNet.Identity

<!-- Logo -->
<a href="@Url.Action("Index", "Dashboard")" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>OS</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>OS</b> System</span>
</a>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>

    <input id="input-group-icon-text" type="text" class="form-control input-sm mvc-grid-search header-menu" placeholder="Search...">


    <div class="navbar-custom-menu">
        <span id="spanTimeLeft" style="margin-top: 12px; color:#ebebeb; font-size: 16px; font-weight:bold; padding: 0; font-family:'Calibri', 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', 'sans-serif'; width: 50px; float: left; "></span>
        <a class="btn btn-danger input-lg" href="#" id="fullscreen-btn" title="FULLSCREEN" style="margin-top: 2px; font-size: 14px; padding: 0; font-family:'Calibri', 'Gill Sans MT', 'Gill Sans', 'Trebuchet MS', 'sans-serif'; width: 150px; float: left; ">Tekan <b>F11</b><br /> Untuk Fullscreen</a>
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-envelope-o"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have no messages.</li>
                    <li>
                    <li class="footer"><a href="#">0 Messages</a></li>
                </ul>
            </li>
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu" id="AjaxNotifications">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have no notifications</li>
                    <li class="footer"><a href="#">0 notifications</a></li>
                </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="@Url.Content("~/dist/img/ava-256.png")" class="user-image" alt="User Image">
                    <span class="hidden-xs">@User.Identity.GetUserName()</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="@Url.Content("~/dist/img/ava-256.png")" class="img-circle" alt="User Image">

                        <p>
                            @User.Identity.GetUserName()
                            <small>Member since Nov. 2012</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                    <li class="user-body">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </div>
                        <!-- /.row -->
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a href="@Url.Action("Index", "Profile", routeValues: null)" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>
    </div>
</nav>
    }
}