@using Microsoft.AspNet.Identity
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="@Url.Content("~/dist/img/ava-256.png")" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@User.Identity.GetUserName()</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="@(ViewBag.Current == "Dashboard" ? "active" : "")">
            <a href="@Url.Action("Index", "Dashboard")">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        @{
            string messages = "";
            if (Request.IsAuthenticated)
            {
                if (User.IsInRole("MasterBusinessUnitsActive") || User.IsInRole("MasterRegionsActive") || User.IsInRole("MasterCustomersActive") || User.IsInRole("MasterWarehousesActive") || User.IsInRole("MasterSuppliersActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCustomers" || ViewBag.Current == "MasterBusinessUnits" || ViewBag.Current == "MasterRegions" || ViewBag.Current == "MasterWarehouses" || ViewBag.Current == "MasterSuppliers" ) ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-database\"></i><span>Master</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterBusinessUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBusinessUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBusinessUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Unit Bisnis</a></li>"; }
                    if (User.IsInRole("MasterRegionsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterRegions" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterRegions", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Wilayah</a></li>"; }
                    if (User.IsInRole("MasterCustomersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCustomers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCustomers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Konsumen</a></li>"; }
                    if (User.IsInRole("MasterSuppliersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterSuppliers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterSuppliers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Supplier</a></li>"; }
                    if (User.IsInRole("MasterWarehousesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterWarehouses" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterWarehouses", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Gudang</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("MasterCategoriesActive") || User.IsInRole("MasterItemsActive") || User.IsInRole("MasterUnitsActive") || User.IsInRole("MasterBrandsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCategories" || ViewBag.Current == "MasterItems" || ViewBag.Current == "MasterUnits" ) || ViewBag.Current == "MasterBrands" ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-cube\"></i><span>Inventory</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterCategoriesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCategories" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCategories", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kategori</a></li>"; }
                    if (User.IsInRole("MasterBrandsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBrands" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBrands", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Merek</a></li>"; }
                    if (User.IsInRole("MasterUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Satuan</a></li>"; }
                    if (User.IsInRole("MasterItemsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterItems" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterItems", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Barang</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("RolesActive") || User.IsInRole("GroupAuthorizationsActive") || User.IsInRole("AuthorizationsActive") || User.IsInRole("SettingUsersActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "Roles" || ViewBag.Current == "GroupAuthorizations" || ViewBag.Current == "Authorizations" || ViewBag.Current == "SettingUsers") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-gear\"></i><span>Settings</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("RolesActive")) { messages = messages + "<li" + (ViewBag.Current == "Roles" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Roles", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Roles</a></li>"; }
                    if (User.IsInRole("GroupAuthorizationsActive")) { messages = messages + "<li" + (ViewBag.Current == "GroupAuthorizations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GroupAuthorizations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Grup Otoritas</a></li>"; }
                    if (User.IsInRole("AuthorizationsActive")) { messages = messages + "<li" + (ViewBag.Current == "Authorizations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Authorizations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Otorisasi</a></li>"; }
                    if (User.IsInRole("SettingUsersActive")) { messages = messages + "<li" + (ViewBag.Current == "SettingUsers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SettingUsers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Setting User</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("SystemLogsActive") || User.IsInRole("VerificationHistoriesActive") || User.IsInRole("ChatsActive") || User.IsInRole("EmailsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "SystemLogs") ||( ViewBag.Current == "VerificationHistories") || (ViewBag.Current == "Chats") || (ViewBag.Current == "Emails") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-desktop\"></i><span>System</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("SystemLogsActive")) { messages = messages + "<li" + (ViewBag.Current == "SystemLogs" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SystemLogs", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Log User</a></li>"; }
                    if (User.IsInRole("VerificationHistoriesActive")) { messages = messages + "<li" + (ViewBag.Current == "VerificationHistories" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "VerificationHistories", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Verification History</a></li>"; }
                    if (User.IsInRole("ChatsActive")) { messages = messages + "<li" + (ViewBag.Current == "Chats" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Chats", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Chat History</a></li>"; }
                    if (User.IsInRole("EmailsActive")) { messages = messages + "<li" + (ViewBag.Current == "Emails" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Emails", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Email</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("PurchaseOrdersActive") || User.IsInRole("PurchaseRequestsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "PurchaseOrders")  ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-desktop\"></i><span>Buying</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("PurchaseOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "PurchaseOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PurchaseOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Purchase Order</a></li>"; }
                    if (User.IsInRole("PurchaseRequestsActive")) { messages = messages + "<li" + (ViewBag.Current == "PurchaseOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PurchaseOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Purchase Order</a></li>"; }
                    messages = messages + "</ul></li>";
                }
            }
        }
        @Html.Raw(messages)
    </ul>
</section>
<!-- /.sidebar -->