@using Microsoft.AspNet.Identity
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="@Url.Content("~/dist/img/ava-256.png")" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@User.Identity.GetUserName()</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="@(ViewBag.Current == "Dashboard" ? "active" : "")">
            <a href="@Url.Action("Index", "Dashboard")">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        @{
            string messages = "";
            if (Request.IsAuthenticated)
            {
                if (User.IsInRole("MasterBusinessUnitsActive") || User.IsInRole("MasterRegionsActive") || User.IsInRole("MasterCustomersActive") || User.IsInRole("MasterPriceUnitsActive") || User.IsInRole("MasterPortsActive") || User.IsInRole("MasterDestinationsActive") || User.IsInRole("MasterItemsActive") || User.IsInRole("MasterWarehousesActive") || User.IsInRole("MasterShipsActive") || User.IsInRole("MasterMKLsActive") || User.IsInRole("MasterCurrenciesActive") || User.IsInRole("MasterSuppliersActive") || User.IsInRole("MasterCollectorsActive") || User.IsInRole("MasterUnitsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCustomers" || ViewBag.Current == "MasterBusinessUnits" || ViewBag.Current == "MasterRegions" || ViewBag.Current == "MasterPriceUnits" || ViewBag.Current == "MasterPorts" || ViewBag.Current == "MasterDestinations" || ViewBag.Current == "MasterItems" || ViewBag.Current == "MasterWarehouses" || ViewBag.Current == "MasterShips" || ViewBag.Current == "MasterMKLs" || ViewBag.Current == "MasterCurrencies" || ViewBag.Current == "MasterSuppliers" || ViewBag.Current == "MasterCollectors") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-database\"></i><span>Master</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterBusinessUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBusinessUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBusinessUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Unit Bisnis</a></li>"; }
                    if (User.IsInRole("MasterRegionsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterRegions" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterRegions", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Wilayah</a></li>"; }
                    if (User.IsInRole("MasterCustomersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCustomers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCustomers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Konsumen</a></li>"; }
                    if (User.IsInRole("MasterCollectorsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCollectors" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCollectors", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kolektor</a></li>"; }
                    if (User.IsInRole("MasterSuppliersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterSuppliers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterSuppliers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Supplier</a></li>"; }
                    if (User.IsInRole("MasterPriceUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterPriceUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterPriceUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Satuan Harga</a></li>"; }
                    if (User.IsInRole("MasterPortsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterPorts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterPorts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pelabuhan</a></li>"; }
                    if (User.IsInRole("MasterWarehousesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterWarehouses" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterWarehouses", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Gudang</a></li>"; }
                    if (User.IsInRole("MasterItemsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterItems" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterItems", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Item</a></li>"; }
                    if (User.IsInRole("MasterUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Unit</a></li>"; }
                    if (User.IsInRole("MasterShipsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterShips" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterShips", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kapal</a></li>"; }
                    if (User.IsInRole("MasterMKLsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterMKLs" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterMKLs", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>EMKL</a></li>"; }
                    if (User.IsInRole("MasterCurrenciesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCurrencies" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCurrencies", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Mata Uang</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("MasterRelationsActive") || User.IsInRole("MasterContainersActive") || User.IsInRole("MasterContainerTypesActive") || User.IsInRole("StowageTypesActive") || User.IsInRole("ContainerOnHiresActive") || User.IsInRole("ContainerOffHiresActive") || User.IsInRole("StowagePlansActive") || User.IsInRole("StowagePlanUnloadingsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterRelations" || ViewBag.Current == "MasterContainers" || ViewBag.Current == "MasterContainerTypes" || ViewBag.Current == "ContainerOnHires" || ViewBag.Current == "ContainerOffHires" || ViewBag.Current == "StowageTypes" || ViewBag.Current == "StowagePlans" || ViewBag.Current == "StowagePlanUnloadings") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-cube\"></i><span>Manajemen Kontainer</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("StowageTypesActive")) { messages = messages + "<li" + (ViewBag.Current == "StowageTypes" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "StowageTypes", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Jenis Stowage</a></li>"; }
                    if (User.IsInRole("StowagePlansActive")) { messages = messages + "<li" + (ViewBag.Current == "StowagePlans" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "StowagePlans", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Stowage Plan</a></li>"; }
                    if (User.IsInRole("StowagePlanUnloadingsActive")) { messages = messages + "<li" + (ViewBag.Current == "StowagePlanUnloadings" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "StowagePlanUnloadings", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Unloading Stowage</a></li>"; }
                    if (User.IsInRole("ContainerHiresActive")) { messages = messages + "<li" + (ViewBag.Current == "ContainerHires" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ContainerHires", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>On/Off Hire</a></li>"; }
                    if (User.IsInRole("MasterRelationsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterRelations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterRelations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Relasi (Kontainer)</a></li>"; }
                    if (User.IsInRole("MasterContainerTypesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterContainerTypes" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterContainerTypes", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Jenis Kontainer</a></li>"; }
                    if (User.IsInRole("MasterContainersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterContainers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterContainers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kontainer</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("BookingOrdersActive") || User.IsInRole("PickedMemosActive") || User.IsInRole("DeliveredMemosActive") || User.IsInRole("ContainerInputsActive") || User.IsInRole("WarehouseInputsActive") || User.IsInRole("LoadingsActive") || User.IsInRole("ShipmentsActive") || User.IsInRole("ShipmentConfirmationsActive") || User.IsInRole("TallySheetsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "BookingOrders" || ViewBag.Current == "PickedMemos" || ViewBag.Current == "DeliveredMemos" || ViewBag.Current == "ContainerInputs" || ViewBag.Current == "WarehouseInputs" || ViewBag.Current == "Loadings" || ViewBag.Current == "Shipments" || ViewBag.Current == "ShipmentConfirmations" || ViewBag.Current == "TallySheets") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-cubes\"></i><span>Inventory</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("PickedMemosActive") || User.IsInRole("DeliveredMemosActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "PickedMemos" || ViewBag.Current == "DeliveredMemos") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Memo</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("PickedMemosActive")) { messages = messages + "<li" + (ViewBag.Current == "PickedMemos" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PickedMemos", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>DO Empty</a></li>"; }
                        if (User.IsInRole("DeliveredMemosActive")) { messages = messages + "<li" + (ViewBag.Current == "DeliveredMemos" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "DeliveredMemos", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Surat Pengambilan</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("BookingOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "BookingOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BookingOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Booking Order</a></li>"; }
                    if (User.IsInRole("TallySheetsActive")) { messages = messages + "<li" + (ViewBag.Current == "TallySheets" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "TallySheets", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Tally Sheet</a></li>"; }
                    if (User.IsInRole("WarehouseInputsActive")) { messages = messages + "<li" + (ViewBag.Current == "WarehouseInputs" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "WarehouseInputs", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Input Gudang</a></li>"; }
                    if (User.IsInRole("LoadingsActive")) { messages = messages + "<li" + (ViewBag.Current == "Loadings" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Loadings", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Loading Kapal</a></li>"; }
                    if (User.IsInRole("ShipmentsActive")) { messages = messages + "<li" + (ViewBag.Current == "Shipments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Shipments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Surat Muat Sementara</a></li>"; }
                    if (User.IsInRole("ShipmentConfirmationsActive")) { messages = messages + "<li" + (ViewBag.Current == "ShipmentConfirmations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ShipmentConfirmations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Konfirmasi Pengiriman</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("CreditNotesActive") || User.IsInRole("ARpaymentsActive") || User.IsInRole("RepaymentsActive") || User.IsInRole("ReportRepaymentsByDatesActive") || User.IsInRole("ReportARBallanceActive") || User.IsInRole("ReportARMutationActive") || User.IsInRole("ReportRepaymentsDetailsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "CreditNotes" || ViewBag.Current == "ARpayments" || ViewBag.Current == "Repayments" || ViewBag.Current == "ReportRepaymentsByDates" || ViewBag.Current == "ReportARBallance" || ViewBag.Current == "ReportRepaymentsDetails") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-money\"></i><span>A / R</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("CreditNotesActive")) { messages = messages + "<li" + (ViewBag.Current == "CreditNotes" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "CreditNotes", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Nota Kredit</a></li>"; }
                    if (User.IsInRole("ARpaymentsActive")) { messages = messages + "<li" + (ViewBag.Current == "ARpayments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ARpayments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pelunasan Piutang</a></li>"; }
                    if (User.IsInRole("RepaymentsActive")) { messages = messages + "<li" + (ViewBag.Current == "Repayments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Repayments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pelunasan Piutang</a></li>"; }
                    if (User.IsInRole("ReportRepaymentsByDatesActive") || User.IsInRole("ReportARBallanceActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportRepaymentsDetails" || ViewBag.Current == "ReportRepaymentsByDates" || ViewBag.Current == "ReportARBallance" || ViewBag.Current == "ReportARMutation") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportRepaymentsByDatesActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportRepaymentsByDates" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportRepaymentsByDates", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pelunasan Per Tanggal</a></li>"; }
                        if (User.IsInRole("ReportRepaymentsDetailsActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportRepaymentsDetails" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportRepaymentsDetails", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Rincian Pelunasan</a></li>"; }
                        if (User.IsInRole("ReportARBallanceActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportARBallance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportARBallance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Saldo Piutang</a></li>"; }
                        if (User.IsInRole("ReportARMutationActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportARMutation" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportARMutation", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kartu Piutang</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("QuotationsActive") || User.IsInRole("InvoicesActive") || User.IsInRole("OtherInvoicesActive") || User.IsInRole("PrepaymentInvoicesActive") || User.IsInRole("InsuranceInvoicesActive") || User.IsInRole("ReportInvoicesByDateActive") || User.IsInRole("LoadFeeInvoicesActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "Quotations" || ViewBag.Current == "Invoices" || ViewBag.Current == "OtherInvoices" || ViewBag.Current == "PrepaymentInvoices" || ViewBag.Current == "InsuranceInvoices" || ViewBag.Current == "ReportInvoicesByDate" || ViewBag.Current == "LoadFeeInvoices") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-shopping-cart\"></i><span>Sales</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("QuotationsActive")) { messages = messages + "<li" + (ViewBag.Current == "Quotations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Quotations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Quotation</a></li>"; }
                    if (User.IsInRole("InvoicesActive")) { messages = messages + "<li" + (ViewBag.Current == "Invoices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Invoices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Invoice</a></li>"; }
                    if (User.IsInRole("PrepaymentInvoicesActive")) { messages = messages + "<li" + (ViewBag.Current == "PrepaymentInvoices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PrepaymentInvoices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Invoice (Prepayment)</a></li>"; }
                    if (User.IsInRole("InsuranceInvoicesActive")) { messages = messages + "<li" + (ViewBag.Current == "InsuranceInvoices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "InsuranceInvoices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Invoice (Asuransi)</a></li>"; }
                    if (User.IsInRole("OtherInvoicesActive")) { messages = messages + "<li" + (ViewBag.Current == "OtherInvoices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "OtherInvoices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Invoice (Lainnya)</a></li>"; }
                    if (User.IsInRole("LoadFeeInvoicesActive")) { messages = messages + "<li" + (ViewBag.Current == "LoadFeeInvoices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "LoadFeeInvoices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Invoice (OPP/OPT)</a></li>"; }
                    if (User.IsInRole("ReportInvoicesByDateActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportInvoicesByDate") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportInvoicesByDateActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportInvoicesByDate" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("ByDate", "ReportInvoices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Invoice Per Tanggal</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("ManifestsActive") || User.IsInRole("HandoversActive") || User.IsInRole("BLsActive") || User.IsInRole("InvoiceReportsActive") || User.IsInRole("StockReportsActive") || User.IsInRole("DeliveryOrdersActive") || User.IsInRole("EmptyContainersDeliveryOrdersActive") || User.IsInRole("ManualContainersDeliveryOrdersActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "Manifests" || ViewBag.Current == "Handovers" || ViewBag.Current == "BLs" || ViewBag.Current == "InvoiceReports" || ViewBag.Current == "StockReports" || ViewBag.Current == "DeliveryOrders" || ViewBag.Current == "EmptyContainersDeliveryOrders" || ViewBag.Current == "ManualContainersDeliveryOrders") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-file-text\"></i><span>Reports</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("ManifestsActive")) { messages = messages + "<li" + (ViewBag.Current == "Manifests" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Manifests", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Manifest</a></li>"; }
                    if (User.IsInRole("HandoversActive")) { messages = messages + "<li" + (ViewBag.Current == "Handovers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Handovers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>BAST</a></li>"; }
                    if (User.IsInRole("BLsActive")) { messages = messages + "<li" + (ViewBag.Current == "BLs" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BLs", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>BL</a></li>"; }
                    if (User.IsInRole("DeliveryOrdersActive") || User.IsInRole("EmptyContainersDeliveryOrdersActive") || User.IsInRole("ManualContainersDeliveryOrdersActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "DeliveryOrders" || ViewBag.Current == "EmptyContainersDeliveryOrders" || ViewBag.Current == "ManualContainersDeliveryOrders") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Surat Jalan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("DeliveryOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "DeliveryOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "DeliveryOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Surat Jalan</a></li>"; }
                        if (User.IsInRole("EmptyContainersDeliveryOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "EmptyContainersDeliveryOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "EmptyContainersDeliveryOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Surat Jalan Empty</a></li>"; }
                        if (User.IsInRole("ManualContainersDeliveryOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "ManualContainersDeliveryOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ManualContainersDeliveryOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Surat Jalan Manual</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("StockReportsActive")) { messages = messages + "<li" + (ViewBag.Current == "StockReports" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "WarehouseStocks", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Stok Gudang</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("MasterBanksActive") || User.IsInRole("CashBankInsActive") || User.IsInRole("CashBankOutsActive") || User.IsInRole("BankInsActive") || User.IsInRole("BankOutsActive") || User.IsInRole("BankOutsPendingActive") || User.IsInRole("GiroChequeInsActive") || User.IsInRole("GiroChequeOutsActive") || User.IsInRole("SalesDepositsActive") || User.IsInRole("GiroChequeCashOutActive") || User.IsInRole("ReportBankBallanceActive") || User.IsInRole("ReportBankMutationActive") || User.IsInRole("ReportBankDetailsActive") || User.IsInRole("ReportListGiroChequesActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterBanks" || ViewBag.Current == "CashBankIns" || ViewBag.Current == "CashBankOuts" || ViewBag.Current == "BankIns" || ViewBag.Current == "BankOuts" || ViewBag.Current == "BankOutsPending" || ViewBag.Current == "GiroChequeIns" || ViewBag.Current == "GiroChequeOuts" || ViewBag.Current == "SalesDeposits" || ViewBag.Current == "GiroChequeCashOuts" || ViewBag.Current == "ReportBankBallance" || ViewBag.Current == "ReportBankMutation" || ViewBag.Current == "ReportBankDetails" || ViewBag.Current == "ReportListGiroCheques") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-bank\"></i><span>Kas & Bank</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterBanksActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBanks" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBanks", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Kas & Bank</a></li>"; }
                    if (User.IsInRole("CashBankInsActive")) { messages = messages + "<li" + (ViewBag.Current == "CashBankIns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "CashBankIns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penerimaan Kas & Bank</a></li>"; }
                    if (User.IsInRole("CashBankOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "CashBankOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "CashBankOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengeluaran Kas & Bank</a></li>"; }
                    if (User.IsInRole("BankInsActive")) { messages = messages + "<li" + (ViewBag.Current == "BankIns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BankIns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penerimaan Kas & Bank</a></li>"; }
                    if (User.IsInRole("BankOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "BankOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BankOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengeluaran Kas & Bank</a></li>"; }
                    if (User.IsInRole("BankOutsPendingActive")) { messages = messages + "<li" + (ViewBag.Current == "BankOutsPending" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BankOutsPending", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengajuan Pengeluaran</a></li>"; }
                    if (User.IsInRole("SalesDepositsActive")) { messages = messages + "<li" + (ViewBag.Current == "SalesDeposits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SalesDeposits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Setoran Sales</a></li>"; }
                    if (User.IsInRole("GiroChequeInsActive") || User.IsInRole("GiroChequeOutsActive") || User.IsInRole("GiroChequeCashOutsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "GiroChequeIns" || ViewBag.Current == "GiroChequeOuts" || ViewBag.Current == "GiroChequeCashOuts") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Giro & Cek</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("GiroChequeInsActive")) { messages = messages + "<li" + (ViewBag.Current == "GiroChequeIns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GiroChequeIns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Giro & Cek Masuk</a></li>"; }
                        if (User.IsInRole("GiroChequeOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "GiroChequeOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GiroChequeOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Giro & Cek Keluar</a></li>"; }
                        if (User.IsInRole("GiroChequeCashOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "GiroChequeCashOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GiroChequeCashOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pencairan Giro & Cek</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("ReportBankBallanceActive") || User.IsInRole("ReportBankMutationActive") || User.IsInRole("ReportBankDetailsActive") || User.IsInRole("ReportListGiroChequesActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportBankBallance" || ViewBag.Current == "ReportBankMutation" || ViewBag.Current == "ReportBankDetails" || ViewBag.Current == "ReportListGiroCheques") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportBankBallanceActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBankBallance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBankBallance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Saldo Kas / Bank</a></li>"; }
                        if (User.IsInRole("ReportBankMutationActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBankMutation" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBankMutation", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Mutasi Kas / Bank</a></li>"; }
                        if (User.IsInRole("ReportBankDetailsActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBankDetails" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBankDetails", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Rincian Kas / Bank</a></li>"; }
                        if (User.IsInRole("ReportListGiroChequesActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportListGiroCheques" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportListGiroCheques", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Daftar Giro & Cek</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("ChartOfAccountsActive") || User.IsInRole("MasterCostsActive") || User.IsInRole("JournalsActive") || User.IsInRole("PostingActive") || User.IsInRole("ReportJournalsByDatesActive") || User.IsInRole("ReportLedgersActive") || User.IsInRole("ReportTrialBallanceActive") || User.IsInRole("ReportBallanceSheetActive") || User.IsInRole("ReportIncomeStatementActive") || User.IsInRole("ReportCashFlowStatementActive") || User.IsInRole("PostingActive") || User.IsInRole("OpeningBallance"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCosts" || ViewBag.Current == "ChartOfAccounts" || ViewBag.Current == "Journals" || ViewBag.Current == "Postings" || ViewBag.Current == "ReportJournalsByDates" || ViewBag.Current == "ReportLedgers" || ViewBag.Current == "ReportTrialBallance" || ViewBag.Current == "ReportBallanceSheet" || ViewBag.Current == "ReportIncomeStatement" || ViewBag.Current == "ReportCashFlowStatement" || ViewBag.Current == "Posting" || ViewBag.Current == "OpeningBallance") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-bar-chart\"></i><span>Accounting</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("ChartOfAccountsActive")) { messages = messages + "<li" + (ViewBag.Current == "ChartOfAccounts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ChartOfAccounts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Bagan Akun</a></li>"; }
                    if (User.IsInRole("MasterCostsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCosts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCosts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Biaya</a></li>"; }
                    if (User.IsInRole("JournalsActive")) { messages = messages + "<li" + (ViewBag.Current == "Journals" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Journals", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Jurnal Umum</a></li>"; }
                    if (User.IsInRole("OpeningBallanceActive")) { messages = messages + "<li" + (ViewBag.Current == "OpeningBallance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "OpeningBallance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Saldo Awal</a></li>"; }
                    if (User.IsInRole("PostingActive")) { messages = messages + "<li" + (ViewBag.Current == "Posting" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Posting", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Posting</a></li>"; }
                    if (User.IsInRole("ReportJournalsByDatesActive") || User.IsInRole("ReportLedgersActive") || User.IsInRole("ReportTrialBallanceActive") || User.IsInRole("ReportBallanceSheetActive") || User.IsInRole("ReportIncomeStatementActive") || User.IsInRole("ReportCashFlowStatementActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportJournalsByDates" || ViewBag.Current == "ReportLedgers" || ViewBag.Current == "ReportTrialBallance" || ViewBag.Current == "ReportBallanceSheet" || ViewBag.Current == "ReportIncomeStatement" || ViewBag.Current == "ReportCashFlowStatement") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportJournalsByDatesActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportJournalsByDates" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportJournalsByDates", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Jurnal Per Tanggal</a></li>"; }
                        if (User.IsInRole("ReportLedgersActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportLedgers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportLedgers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Buku Besar</a></li>"; }
                        if (User.IsInRole("ReportTrialBallanceActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportTrialBallance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportTrialBallance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Neraca Percobaan</a></li>"; }
                        if (User.IsInRole("ReportBallanceSheetActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBallanceSheet" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBallanceSheet", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Neraca</a></li>"; }
                        if (User.IsInRole("ReportIncomeStatementActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportIncomeStatement" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportIncomeStatement", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Laba Rugi</a></li>"; }
                        if (User.IsInRole("ReportCashFlowStatementActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportCashFlowStatement" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportCashFlowStatement", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Arus Kas</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("ForwardingMasterCostsActive") || User.IsInRole("ForwardingQuotationsActive") || User.IsInRole("ForwardingJobOrdersActive") || User.IsInRole("ForwardingJobOrderOthersActive") || User.IsInRole("ForwardingSellingsActive") || User.IsInRole("ForwardingSellingOthersActive") || User.IsInRole("ForwardingSellingSplitsActive") || User.IsInRole("ForwardingBuyingsActive") || User.IsInRole("ForwardingBuyingOthersActive") || User.IsInRole("ForwardingBuyingSplitsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ForwardingMasterCosts" || ViewBag.Current == "ForwardingMasterVendors" || ViewBag.Current == "ForwardingQuotations" || ViewBag.Current == "ForwardingJobOrders" || ViewBag.Current == "ForwardingJobOrderOthers" || ViewBag.Current == "ForwardingSellings" || ViewBag.Current == "ForwardingSellingOthers" || ViewBag.Current == "ForwardingSellingSplits" || ViewBag.Current == "ForwardingBuyings" || ViewBag.Current == "ForwardingBuyingOthers" || ViewBag.Current == "ForwardingBuyingSplits") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-truck\"></i><span>Pengangkutan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("ForwardingMasterCostsActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingMasterCosts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingMasterCosts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Biaya</a></li>"; }
                    if (User.IsInRole("ForwardingQuotationsActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingQuotations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingQuotations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Quotation</a></li>"; }
                    if (User.IsInRole("ForwardingJobOrdersActive") || User.IsInRole("ForwardingJobOrderOthersActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ForwardingJobOrders" || ViewBag.Current == "ForwardingJobOrderOthers") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Job Order</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ForwardingJobOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingJobOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingJobOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Job Order (Local)</a></li>"; }
                        if (User.IsInRole("ForwardingJobOrderOthersActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingJobOrderOthers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingJobOrderOthers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Job Order (Others)</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("ForwardingSellingsActive") || User.IsInRole("ForwardingSellingOthersActive") || User.IsInRole("ForwardingSellingSplitsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ForwardingSellings" || ViewBag.Current == "ForwardingSellingOthers" || ViewBag.Current == "ForwardingSellingSplits") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Selling</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ForwardingSellingsActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingSellings" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingSellings", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Selling (Local)</a></li>"; }
                        if (User.IsInRole("ForwardingSellingOthersActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingSellingOthers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingSellingOthers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Selling (Others)</a></li>"; }
                        if (User.IsInRole("ForwardingSellingSplitsActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingSellingSplits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingSellingSplits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Selling (Splits)</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("ForwardingBuyingsActive") || User.IsInRole("ForwardingBuyingOthersActive") || User.IsInRole("ForwardingBuyingSplitsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ForwardingBuyings" || ViewBag.Current == "ForwardingBuyingOthers" || ViewBag.Current == "ForwardingBuyingSplits") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Buying</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ForwardingBuyingsActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingBuyings" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingBuyings", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Buying (Local)</a></li>"; }
                        if (User.IsInRole("ForwardingBuyingOthersActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingBuyingOthers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingBuyingOthers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Buying (Others)</a></li>"; }
                        if (User.IsInRole("ForwardingBuyingSplitsActive")) { messages = messages + "<li" + (ViewBag.Current == "ForwardingBuyingSplits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ForwardingBuyingSplits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Buying (Splits)</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("RolesActive") || User.IsInRole("GroupAuthorizationsActive") || User.IsInRole("AuthorizationsActive") || User.IsInRole("SettingUsersActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "Roles" || ViewBag.Current == "GroupAuthorizations" || ViewBag.Current == "Authorizations" || ViewBag.Current == "SettingUsers") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-gear\"></i><span>Settings</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("RolesActive")) { messages = messages + "<li" + (ViewBag.Current == "Roles" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Roles", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Roles</a></li>"; }
                    if (User.IsInRole("GroupAuthorizationsActive")) { messages = messages + "<li" + (ViewBag.Current == "GroupAuthorizations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GroupAuthorizations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Grup Otoritas</a></li>"; }
                    if (User.IsInRole("AuthorizationsActive")) { messages = messages + "<li" + (ViewBag.Current == "Authorizations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Authorizations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Otorisasi</a></li>"; }
                    if (User.IsInRole("SettingUsersActive")) { messages = messages + "<li" + (ViewBag.Current == "SettingUsers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SettingUsers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Setting User</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("SystemLogsActive") || User.IsInRole("VerificationHistoriesActive") || User.IsInRole("ChatsActive") || User.IsInRole("EmailsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "SystemLogs") ||( ViewBag.Current == "VerificationHistories") || (ViewBag.Current == "Chats") || (ViewBag.Current == "Emails") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-desktop\"></i><span>System</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("SystemLogsActive")) { messages = messages + "<li" + (ViewBag.Current == "SystemLogs" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SystemLogs", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Log User</a></li>"; }
                    if (User.IsInRole("VerificationHistoriesActive")) { messages = messages + "<li" + (ViewBag.Current == "VerificationHistories" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "VerificationHistories", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Verification History</a></li>"; }
                    if (User.IsInRole("ChatsActive")) { messages = messages + "<li" + (ViewBag.Current == "Chats" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Chats", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Chat History</a></li>"; }
                    if (User.IsInRole("EmailsActive")) { messages = messages + "<li" + (ViewBag.Current == "Emails" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Emails", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Email</a></li>"; }
                    messages = messages + "</ul></li>";
                }
            }
        }
        @Html.Raw(messages)
    </ul>
</section>
<!-- /.sidebar -->