@using Microsoft.AspNet.Identity
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="@Url.Content("~/dist/img/ava-256.png")" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@User.Identity.GetUserName()</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="@(ViewBag.Current == "Dashboard" ? "active" : "")">
            <a href="@Url.Action("Index", "Dashboard")">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        @{
            string messages = "";
            if (Request.IsAuthenticated)
            {
                if (User.IsInRole("MasterBusinessUnitsActive") || User.IsInRole("MasterRegionsActive") || User.IsInRole("MasterCustomersActive") || User.IsInRole("MasterWarehousesActive") || User.IsInRole("MasterSuppliersActive") || User.IsInRole("MasterCurrenciesActive") || User.IsInRole("MasterSalesPersonsActive") || User.IsInRole("MasterDestinationsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCustomers" || ViewBag.Current == "MasterBusinessUnits" || ViewBag.Current == "MasterRegions" || ViewBag.Current == "MasterWarehouses" || ViewBag.Current == "MasterSuppliers" || ViewBag.Current == "MasterCurrencies" || ViewBag.Current == "MasterSalesPersons" || ViewBag.Current == "MasterDestinations") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-database\"></i><span>Master</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterBusinessUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBusinessUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBusinessUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Unit Bisnis</a></li>"; }
                    if (User.IsInRole("MasterRegionsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterRegions" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterRegions", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Wilayah</a></li>"; }
                    if (User.IsInRole("MasterCustomersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCustomers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCustomers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Konsumen</a></li>"; }
                    if (User.IsInRole("MasterSalesPersonsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterSalesPersons" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterSalesPersons", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Sales</a></li>"; }
                    if (User.IsInRole("MasterSuppliersActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterSuppliers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterSuppliers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Supplier</a></li>"; }
                    if (User.IsInRole("MasterWarehousesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterWarehouses" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterWarehouses", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Gudang</a></li>"; }
                    if (User.IsInRole("MasterCurrenciesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCurrencies" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCurrencies", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Mata Uang</a></li>"; }
                    if (User.IsInRole("MasterDestinationsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterDestinations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterDestinations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kota Tujuan</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("MasterCategoriesActive") || User.IsInRole("MasterItemsActive") || User.IsInRole("MasterUnitsActive") || User.IsInRole("MasterBrandsActive") || User.IsInRole("StockAdjustmentsActive") || User.IsInRole("WarehouseTransfersActive") || User.IsInRole("ReportStockBalancesActive") || User.IsInRole("SellingPricesActive") || User.IsInRole("BuyingPricesActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCategories" || ViewBag.Current == "MasterItems" || ViewBag.Current == "MasterUnits" || ViewBag.Current == "MasterBrands" || ViewBag.Current == "StockAdjustments" || ViewBag.Current == "WarehouseTransfers" || ViewBag.Current == "ReportStockBalances") || ViewBag.Current == "SellingPrices" || ViewBag.Current == "BuyingPrices" ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-cube\"></i><span>Inventory</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterCategoriesActive") || User.IsInRole("MasterBrandsActive") || User.IsInRole("MasterUnitsActive") || User.IsInRole("MasterItemsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCategories" || ViewBag.Current == "MasterBrands" || ViewBag.Current == "MasterUnits" || ViewBag.Current == "MasterItems") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Master</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("MasterCategoriesActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCategories" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCategories", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kategori</a></li>"; }
                        if (User.IsInRole("MasterBrandsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBrands" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBrands", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Merek</a></li>"; }
                        if (User.IsInRole("MasterUnitsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterUnits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterUnits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Satuan</a></li>"; }
                        if (User.IsInRole("MasterItemsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterItems" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterItems", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Barang</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("StockAdjustmentsActive")) { messages = messages + "<li" + (ViewBag.Current == "StockAdjustments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "StockAdjustments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penyesuaian Stok</a></li>"; }
                    if (User.IsInRole("WarehouseTransfersActive")) { messages = messages + "<li" + (ViewBag.Current == "WarehouseTransfers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "WarehouseTransfers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Transfer Gudang</a></li>"; }
                    if (User.IsInRole("SellingPricesActive")) { messages = messages + "<li" + (ViewBag.Current == "SellingPrices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SellingPrices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Harga Jual</a></li>"; }
                    if (User.IsInRole("BuyingPricesActive")) { messages = messages + "<li" + (ViewBag.Current == "BuyingPrices" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BuyingPrices", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Harga beli</a></li>"; }

                    if (User.IsInRole("ReportStockBalancesActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportStockBalances") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportStockBalancesActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportStockBalances" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportStockBalances", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Stock Balance</a></li>"; }

                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("FinishedGoodSlipsActive") || User.IsInRole("MaterialReturnsActive") || User.IsInRole("ProductionCostAllocationsActive") || User.IsInRole("StandardProductCostsActive") || User.IsInRole("ProductionBillOfMaterialsActive") || User.IsInRole("MaterialSlipsActive") || User.IsInRole("ProductionWorkOrdersActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "FinishedGoodSlips" || ViewBag.Current == "MaterialReturns" || ViewBag.Current == "StandardProductCosts" || ViewBag.Current == "MaterialSlips" || ViewBag.Current == "ProductionBillOfMaterials"  || ViewBag.Current == "ProductionCostAllocations" || ViewBag.Current == "ProductionWorkOrders" ) ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-cogs\"></i><span>Manufaktur</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("StandardProductCostsActive")) { messages = messages + "<li" + (ViewBag.Current == "StandardProductCosts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "StandardProductCosts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Standar Biaya Produksi</a></li>"; }
                    if (User.IsInRole("ProductionBillOfMaterialsActive")) { messages = messages + "<li" + (ViewBag.Current == "ProductionBillOfMaterials" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ProductionBillOfMaterials", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Formula Produksi</a></li>"; }
                    if (User.IsInRole("ProductionWorkOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "ProductionWorkOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ProductionWorkOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Perintah Kerja Produksi</a></li>"; }
                    if (User.IsInRole("MaterialSlipsActive")) { messages = messages + "<li" + (ViewBag.Current == "MaterialSlips" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MaterialSlips", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengambilan Bahan Baku</a></li>"; }
                    if (User.IsInRole("MaterialReturnsActive")) { messages = messages + "<li" + (ViewBag.Current == "MaterialReturns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MaterialReturns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Retur Bahan Baku</a></li>"; }
                    if (User.IsInRole("FinishedGoodSlipsActive")) { messages = messages + "<li" + (ViewBag.Current == "FinishedGoodSlips" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "FinishedGoodSlips", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penyelesaian Barang Jadi</a></li>"; }
                    if (User.IsInRole("ProductionCostAllocationsActive")) { messages = messages + "<li" + (ViewBag.Current == "ProductionCostAllocations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ProductionCostAllocations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Alokasi Biaya Produksi</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("MasterBanksActive") || User.IsInRole("BankInsActive") || User.IsInRole("BankOutsActive") || User.IsInRole("BankInsActive") || User.IsInRole("BankOutsActive") || User.IsInRole("BankOutsPendingActive") || User.IsInRole("ChequeInsActive") || User.IsInRole("ChequeOutsActive") || User.IsInRole("SalesDepositsActive") || User.IsInRole("ChequeCashOutActive") || User.IsInRole("ReportBankBallanceActive") || User.IsInRole("ReportBankMutationActive") || User.IsInRole("ReportBankDetailsActive") || User.IsInRole("ReportListChequesActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterBanks" || ViewBag.Current == "BankIns" || ViewBag.Current == "BankOuts" || ViewBag.Current == "BankIns" || ViewBag.Current == "BankOuts" || ViewBag.Current == "BankOutsPending" || ViewBag.Current == "ChequeIns" || ViewBag.Current == "ChequeOuts" || ViewBag.Current == "SalesDeposits" || ViewBag.Current == "ChequeCashOuts" || ViewBag.Current == "ReportBankBallance" || ViewBag.Current == "ReportBankMutation" || ViewBag.Current == "ReportBankDetails" || ViewBag.Current == "ReportListCheques") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-bank\"></i><span>Kas & Bank</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("MasterBanksActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterBanks" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterBanks", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Kas & Bank</a></li>"; }
                    if (User.IsInRole("BankInsActive")) { messages = messages + "<li" + (ViewBag.Current == "BankIns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BankIns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penerimaan Kas & Bank</a></li>"; }
                    if (User.IsInRole("BankOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "BankOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BankOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengeluaran Kas & Bank</a></li>"; }
                    if (User.IsInRole("BankOutsPendingActive")) { messages = messages + "<li" + (ViewBag.Current == "BankOutsPending" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BankOutsPending", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengajuan Pengeluaran</a></li>"; }
                    if (User.IsInRole("SalesDepositsActive")) { messages = messages + "<li" + (ViewBag.Current == "SalesDeposits" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SalesDeposits", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Setoran Sales</a></li>"; }
                    if (User.IsInRole("ChequeInsActive") || User.IsInRole("ChequeOutsActive") || User.IsInRole("ChequeCashOutsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ChequeIns" || ViewBag.Current == "ChequeOuts" || ViewBag.Current == "ChequeCashOuts") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Giro & Cek</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ChequeInsActive")) { messages = messages + "<li" + (ViewBag.Current == "ChequeIns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ChequeIns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Giro & Cek Masuk</a></li>"; }
                        if (User.IsInRole("ChequeOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "ChequeOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ChequeOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Giro & Cek Keluar</a></li>"; }
                        if (User.IsInRole("ChequeCashOutsActive")) { messages = messages + "<li" + (ViewBag.Current == "ChequeCashOuts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ChequeCashOuts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pencairan Giro & Cek</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("ReportBankBallanceActive") || User.IsInRole("ReportBankMutationActive") || User.IsInRole("ReportBankDetailsActive") || User.IsInRole("ReportListChequesActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportBankBallance" || ViewBag.Current == "ReportBankMutation" || ViewBag.Current == "ReportBankDetails" || ViewBag.Current == "ReportListCheques") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportBankBallanceActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBankBallance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBankBallance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Saldo Kas / Bank</a></li>"; }
                        if (User.IsInRole("ReportBankMutationActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBankMutation" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBankMutation", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Mutasi Kas / Bank</a></li>"; }
                        if (User.IsInRole("ReportBankDetailsActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBankDetails" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBankDetails", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Rincian Kas / Bank</a></li>"; }
                        if (User.IsInRole("ReportListChequesActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportListCheques" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportListCheques", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Daftar Giro & Cek</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("AdvancePaymentsActive") || User.IsInRole("PaymentsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "AdvancePayments" || ViewBag.Current == "Payments") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-money\"></i><span>A / P</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("AdvancePaymentsActive")) { messages = messages + "<li" + (ViewBag.Current == "AdvancePayments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "AdvancePayments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Uang Muka Pembelian</a></li>"; }
                    if (User.IsInRole("PaymentsActive")) { messages = messages + "<li" + (ViewBag.Current == "Payments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Payments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pembayaran Hutang</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("AdvanceRepaymentsActive") || User.IsInRole("RepaymentsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "AdvanceRepayments" || ViewBag.Current == "Repayments") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-money\"></i><span>A / R</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("AdvanceRepaymentsActive")) { messages = messages + "<li" + (ViewBag.Current == "AdvanceRepayments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "AdvanceRepayments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Uang Muka Penjualan</a></li>"; }
                    if (User.IsInRole("RepaymentsActive")) { messages = messages + "<li" + (ViewBag.Current == "Repayments" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Repayments", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pelunasan Piutang</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("PurchaseRequestsActive") || User.IsInRole("PurchaseOrdersActive") || User.IsInRole("PurchasesActive") || User.IsInRole("GoodsReceiptsActive") || User.IsInRole("PurchaseReturnsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "PurchaseRequests" || ViewBag.Current == "PurchaseOrders" || ViewBag.Current == "Purchases" || ViewBag.Current == "GoodsReceipts" || ViewBag.Current == "PurchaseReturns") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-shopping-bag\"></i><span>Pembelian</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("PurchaseRequestsActive")) { messages = messages + "<li" + (ViewBag.Current == "PurchaseRequests" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PurchaseRequests", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Purchase Request</a></li>"; }
                    if (User.IsInRole("PurchaseOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "PurchaseOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PurchaseOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Purchase Order</a></li>"; }
                    if (User.IsInRole("PurchasesActive")) { messages = messages + "<li" + (ViewBag.Current == "Purchases" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Purchases", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pembelian</a></li>"; }
                    if (User.IsInRole("GoodsReceiptsActive")) { messages = messages + "<li" + (ViewBag.Current == "GoodsReceipts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GoodsReceipts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penerimaan Barang</a></li>"; }
                    if (User.IsInRole("PurchaseReturnsActive")) { messages = messages + "<li" + (ViewBag.Current == "PurchaseReturns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "PurchaseReturns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Retur Pembelian</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("SalesRequestsActive") || User.IsInRole("SalesOrdersActive") || User.IsInRole("SalesActive") || User.IsInRole("GoodsDeliveriesActive") || User.IsInRole("SalesReturnsActive") || User.IsInRole("TermsActive") || User.IsInRole("ShippingFeesActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "SalesRequests" || ViewBag.Current == "SalesOrders" || ViewBag.Current == "Sales" || ViewBag.Current == "GoodsDeliveries" || ViewBag.Current == "SalesReturns" || ViewBag.Current == "Terms") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-shopping-cart\"></i><span>Penjualan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("ShippingFeesActive")) { messages = messages + "<li" + (ViewBag.Current == "ShippingFees" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ShippingFees", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Biaya Pengiriman</a></li>"; }
                    if (User.IsInRole("TermsActive")) { messages = messages + "<li" + (ViewBag.Current == "Terms" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Terms", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Term</a></li>"; }
                    if (User.IsInRole("SalesRequestsActive")) { messages = messages + "<li" + (ViewBag.Current == "SalesRequests" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SalesRequests", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Sales Request</a></li>"; }
                    if (User.IsInRole("SalesOrdersActive")) { messages = messages + "<li" + (ViewBag.Current == "SalesOrders" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SalesOrders", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Sales Order</a></li>"; }
                    if (User.IsInRole("SalesActive")) { messages = messages + "<li" + (ViewBag.Current == "Sales" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Sales", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Penjualan</a></li>"; }
                    if (User.IsInRole("GoodsDeliveriesActive")) { messages = messages + "<li" + (ViewBag.Current == "GoodsDeliveries" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GoodsDeliveries", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Pengiriman Barang</a></li>"; }
                    if (User.IsInRole("SalesReturnsActive")) { messages = messages + "<li" + (ViewBag.Current == "SalesReturns" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SalesReturns", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Retur Penjualan</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("FixedAssetsActive") || User.IsInRole("FixedAssetsCategoriesActive") || User.IsInRole("FixedAssetsPostingActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "FixedAssets" || ViewBag.Current == "FixedAssetsCategories" || ViewBag.Current == "FixedAssetsPosting") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-building\"></i><span>Aktiva</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("FixedAssetsActive")) { messages = messages + "<li" + (ViewBag.Current == "FixedAssets" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "FixedAssets", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Daftar Aktiva</a></li>"; }
                    if (User.IsInRole("FixedAssetsCategoriesActive")) { messages = messages + "<li" + (ViewBag.Current == "FixedAssetsCategories" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "FixedAssetsCategories", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Kategori Aktiva</a></li>"; }
                    if (User.IsInRole("FixedAssetsPostingActive")) { messages = messages + "<li" + (ViewBag.Current == "FixedAssetsPosting" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "FixedAssetsPosting", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Posting Aktiva</a></li>"; }
                    if (User.IsInRole("ReportFixedAssetsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportFixedAssets") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportFixedAssetsActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportFixedAssets" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportFixedAssets", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Aset Tetap</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("ChartOfAccountsActive") || User.IsInRole("MasterCostsActive") || User.IsInRole("JournalsActive") || User.IsInRole("PostingActive") || User.IsInRole("ReportJournalsByDatesActive") || User.IsInRole("ReportLedgersActive") || User.IsInRole("ReportTrialBalanceActive") || User.IsInRole("ReportBalanceSheetsActive") || User.IsInRole("ReportIncomeStatementsActive") || User.IsInRole("ReportCashFlowStatementActive") || User.IsInRole("PostingActive") || User.IsInRole("OpeningBalance"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "MasterCosts" || ViewBag.Current == "ChartOfAccounts" || ViewBag.Current == "Journals" || ViewBag.Current == "Postings" || ViewBag.Current == "ReportJournalsByDates" || ViewBag.Current == "ReportLedgers" || ViewBag.Current == "ReportTrialBalance" || ViewBag.Current == "ReportBalanceSheets" || ViewBag.Current == "ReportIncomeStatements" || ViewBag.Current == "ReportCashFlowStatement" || ViewBag.Current == "Posting" || ViewBag.Current == "OpeningBalance" || ViewBag.Current == "AccountTypes" || ViewBag.Current == "BalanceSheets" || ViewBag.Current == "IncomeStatements") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-bar-chart\"></i><span>Accounting</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("ChartOfAccountsActive")) { messages = messages + "<li" + (ViewBag.Current == "ChartOfAccounts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ChartOfAccounts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Bagan Akun</a></li>"; }
                    if (User.IsInRole("MasterCostsActive")) { messages = messages + "<li" + (ViewBag.Current == "MasterCosts" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MasterCosts", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Master Biaya</a></li>"; }
                    if (User.IsInRole("JournalsActive")) { messages = messages + "<li" + (ViewBag.Current == "Journals" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Journals", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Jurnal Umum</a></li>"; }
                    if (User.IsInRole("OpeningBalanceActive")) { messages = messages + "<li" + (ViewBag.Current == "OpeningBalance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "OpeningBalance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Saldo Awal</a></li>"; }
                    if (User.IsInRole("PostingActive")) { messages = messages + "<li" + (ViewBag.Current == "Posting" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Posting", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Posting</a></li>"; }
                    if (User.IsInRole("ReportJournalsByDatesActive") || User.IsInRole("ReportLedgersActive") || User.IsInRole("ReportTrialBallanceActive") || User.IsInRole("ReportBallanceSheetActive") || User.IsInRole("ReportIncomeStatementsActive") || User.IsInRole("ReportCashFlowStatementActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "ReportJournalsByDates" || ViewBag.Current == "ReportLedgers" || ViewBag.Current == "ReportTrialBalance" || ViewBag.Current == "ReportBalanceSheets" || ViewBag.Current == "ReportIncomeStatements" || ViewBag.Current == "ReportCashFlowStatement") ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Laporan</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("ReportJournalsByDatesActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportJournalsByDates" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportJournalsByDates", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Jurnal Per Tanggal</a></li>"; }
                        if (User.IsInRole("ReportLedgersActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportLedgers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportLedgers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Buku Besar</a></li>"; }
                        if (User.IsInRole("ReportTrialBalanceActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportTrialBalance" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportTrialBalance", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Neraca Percobaan</a></li>"; }
                        if (User.IsInRole("ReportBallanceSheetActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportBalanceSheets" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportBalanceSheets", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Neraca</a></li>"; }
                        if (User.IsInRole("ReportIncomeStatementsActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportIncomeStatements" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportIncomeStatements", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Laba Rugi</a></li>"; }
                        if (User.IsInRole("ReportCashFlowStatementActive")) { messages = messages + "<li" + (ViewBag.Current == "ReportCashFlowStatement" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "ReportCashFlowStatement", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Arus Kas</a></li>"; }
                        messages = messages + "</ul></li>";
                    }
                    if (User.IsInRole("ConfigurationsActive") || User.IsInRole("AccountTypesActive") || User.IsInRole("BalanceSheetsActive") || User.IsInRole("IncomeStatementsActive"))
                    {
                        messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "AccountTypes" || ViewBag.Current == "BalanceSsheet" || ViewBag.Current == "IncomeStatements" ) ? " active" : "") + "\">";
                        messages = messages + "<a href=\"#\"><i class=\"fa fa-angle-right\"></i><span>Konfigurasi</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                        if (User.IsInRole("AccountTypesActive")) { messages = messages + "<li" + (ViewBag.Current == "AccountTypes" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "AccountTypes", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Tipe Akun</a></li>"; }
                        if (User.IsInRole("BalanceSheetsActive")) { messages = messages + "<li" + (ViewBag.Current == "BalanceSheets" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "BalanceSheets", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Neraca</a></li>"; }
                        if (User.IsInRole("IncomeStatementsActive")) { messages = messages + "<li" + (ViewBag.Current == "IncomeStatements" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "IncomeStatements", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Laba Rugi</a></li>"; }

                        messages = messages + "</ul></li>";
                    }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("RolesActive") || User.IsInRole("GroupAuthorizationsActive") || User.IsInRole("AuthorizationsActive") || User.IsInRole("SettingUsersActive") || User.IsInRole("MonthlyProcessActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "Roles" || ViewBag.Current == "GroupAuthorizations" || ViewBag.Current == "Authorizations" || ViewBag.Current == "SettingUsers" || ViewBag.Current == "MonthlyProcess") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-gear\"></i><span>Settings</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("RolesActive")) { messages = messages + "<li" + (ViewBag.Current == "Roles" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Roles", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Roles</a></li>"; }
                    if (User.IsInRole("GroupAuthorizationsActive")) { messages = messages + "<li" + (ViewBag.Current == "GroupAuthorizations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "GroupAuthorizations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Grup Otoritas</a></li>"; }
                    if (User.IsInRole("AuthorizationsActive")) { messages = messages + "<li" + (ViewBag.Current == "Authorizations" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Authorizations", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Otorisasi</a></li>"; }
                    if (User.IsInRole("SettingUsersActive")) { messages = messages + "<li" + (ViewBag.Current == "SettingUsers" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SettingUsers", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Setting User</a></li>"; }
                    if (User.IsInRole("MonthlyProcessActive")) { messages = messages + "<li" + (ViewBag.Current == "MonthlyProcess" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "MonthlyProcess", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Proses Bulanan</a></li>"; }
                    messages = messages + "</ul></li>";
                }
                if (User.IsInRole("SystemLogsActive") || User.IsInRole("VerificationHistoriesActive") || User.IsInRole("ChatsActive") || User.IsInRole("EmailsActive"))
                {
                    messages = messages + "<li class=\"treeview" + ((ViewBag.Current == "SystemLogs") ||( ViewBag.Current == "VerificationHistories") || (ViewBag.Current == "Chats") || (ViewBag.Current == "Emails") ? " active" : "") + "\">";
                    messages = messages + "<a href=\"#\"><i class=\"fa fa-desktop\"></i><span>System</span><span class=\"pull-right-container\"><i class=\"fa fa-angle-left pull-right\"></i></span></a><ul class=\"treeview-menu\">";
                    if (User.IsInRole("SystemLogsActive")) { messages = messages + "<li" + (ViewBag.Current == "SystemLogs" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "SystemLogs", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Log User</a></li>"; }
                    if (User.IsInRole("VerificationHistoriesActive")) { messages = messages + "<li" + (ViewBag.Current == "VerificationHistories" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "VerificationHistories", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Verification History</a></li>"; }
                    if (User.IsInRole("ChatsActive")) { messages = messages + "<li" + (ViewBag.Current == "Chats" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Chats", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Chat History</a></li>"; }
                    if (User.IsInRole("EmailsActive")) { messages = messages + "<li" + (ViewBag.Current == "Emails" ? " class=\"active\"" : "") + "><a href=\"" + Url.Action("Index", "Emails", routeValues: null) + "\"><i class=\"fa fa-angle-right\"></i>Email</a></li>"; }
                    messages = messages + "</ul></li>";
                }
            }
        }
        @Html.Raw(messages)
    </ul>
</section>
<!-- /.sidebar -->