@model IEnumerable<eShop.Models.FixedAsset>
@{
    Layout = null;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {

        columns.Add(model => Html.CheckBox(model.Id.ToString(), new { id = model.Id.ToString(), value = model.Id.ToString() })).Titled(Html.CheckBox("CheckAll"));
        columns.Add(model => ((User.IsInRole("FixedAssetsEdit")) ? "<div class=\"text-center\"><a class=\"btn btn-success btn-xs edit-data\" href=\"" + @Url.Action("Edit", "FixedAssets", new { id = model.Id }) + "\"><i class=\"fa fa-edit\"></i> Edit</a>" : "") +
        ((User.IsInRole("FixedAssetsView")) ? "&nbsp;<a class=\"btn btn-primary btn-xs view-data\" href=\"" + @Url.Action("Details", "FixedAssets", new { id = model.Id }) + "\"><i class=\"fa fa-eye\"></i> View</a></div>" : "")).Encoded(false);

        columns.Add(model => model.MasterBusinessUnit.Name).Titled(@Html.DisplayNameFor(model => model.MasterBusinessUnit.Name));
        columns.Add(model => model.MasterRegion.Code).Titled(@Html.DisplayNameFor(model => model.MasterRegion.Code));
        columns.Add(model => model.Code).Titled(@Html.DisplayNameFor(model => model.Code));
        columns.Add(model => model.Name).Titled(@Html.DisplayNameFor(model => model.Name));
        columns.Add(model => model.FixedAssetCategory.Name).Titled(@Html.DisplayNameFor(model => model.FixedAssetCategory.Name));
        columns.Add(model => model.MethodType).Titled(@Html.DisplayNameFor(model => model.MethodType));
        columns.Add(model => model.Quantity).Titled(@Html.DisplayNameFor(model => model.Quantity));
        columns.Add(model => model.EstimatedLife).Titled(@Html.DisplayNameFor(model => model.EstimatedLife));
        columns.Add(model => model.Purchasedate).Titled(@Html.DisplayNameFor(model => model.Purchasedate));
        columns.Add(model => model.Quantity).Titled(@Html.DisplayNameFor(model => model.Quantity)).Formatted("{0:N2}");
        columns.Add(model => model.Total).Titled(@Html.DisplayNameFor(model => model.Total)).Formatted("{0:N2}");
        columns.Add(model => model.Tax).Titled(@Html.DisplayNameFor(model => model.Tax));
        columns.Add(model => model.Active).Titled(@Html.DisplayNameFor(model => model.Active)).RenderedAs(model => model.Active == true ? "&#x2713;" : "&#x2717;").Encoded(false);
        columns.Add(model => model.Created).Titled(@Html.DisplayNameFor(model => model.Created));
        columns.Add(model => model.User.FullName).Titled(@Html.DisplayNameFor(model => model.User.FullName));
        columns.Add(model => model.Updated).Titled(@Html.DisplayNameFor(model => model.Updated)).InitialSort(GridSortOrder.Desc);
    })
    .Empty("Tidak ada data.")
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 100, "100" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 5;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .UsingFilterMode(GridFilterMode.Row)
    .Filterable()
    .Sortable()
    .AppendCss("tablegrid-hover table-striped fix-table")
    .Id("data-table")
)