@model eShop.Models.PurchaseOrderDetails
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Add - Item Po</h4>
        </div>
        <div class="modal-body">
            @Html.Partial("MvcDatalist/_Dialog")
            <div id="divEmp">
                @using (Ajax.BeginForm("DetailsCreate", "PurchaseOrders", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp", OnSuccess = "CreateSuccess" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.PurchaseOrderId)
                        <div class="form-group">
                            <div class="col-md-8">
                                @Html.LabelFor(model => model.MasterItemId)
                                @Html.DatalistFor(model => model.MasterItemId, new eShop.Models.MasterItemsDatalist(), new { @class = "datalist2" })
                                @Html.ValidationMessageFor(model => model.MasterItemId, "", new { @class = "text-danger" })
                            </div>
                            @*<div class="col-md-2 >
                                    @Html.LabelFor(model => model.MasterUnitId)
                                    @Html.DatalistFor(model => model.MasterUnitId, new eShop.Models.MasterUnitsDatalist(), new { @class = "datalist2" })
                                    @Html.ValidationMessageFor(model => model.MasterUnitId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 text-center">
                                    @Html.LabelFor(model => model.Default)
                                    <div class="checkbox text-center">
                                        @Html.EditorFor(model => model.Default)
                                        @Html.ValidationMessageFor(model => model.Default, "", new { @class = "text-danger" })
                                    </div>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:10px" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>