@model IEnumerable<eShop.Models.PurchaseOrder>
@{
    Layout = null;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
    columns.Add(model => Html.CheckBox(model.Id.ToString(), new { id = model.Id.ToString(), value = model.Id.ToString() })).Titled(Html.CheckBox("CheckAll"));
    columns.Add(model => ((User.IsInRole("PurchaseOrdersEdit")) ? "<div class=\"text-center\"><a class=\"btn btn-success btn-xs edit-data\" href=\"" + @Url.Action("Edit", "PurchaseOrders", new { id = model.Id }) + "\"><i class=\"fa fa-edit\"></i> Edit</a>" : "") +
    ((User.IsInRole("PurchaseOrdersView")) ? "&nbsp;<a class=\"btn btn-primary btn-xs view-data\" href=\"" + @Url.Action("Details", "PurchaseOrders", new { id = model.Id }) + "\"><i class=\"fa fa-eye\"></i> View</a>" : "") +
    ((User.IsInRole("PurchaseOrdersPrint")) ? "&nbsp;<a class=\"btn btn-info btn-xs print-data\" target=\"_blank\" href=\"" + @Url.Action("Print", "PurchaseOrders", new { id = model.Id }) + "\"><i class=\"fa fa-print\"></i> Print</a>" : "") + "</div>").Encoded(false);
        columns.Add(model => model.Code).Titled(@Html.DisplayNameFor(model => model.Code));
        columns.Add(model => model.Notes).Titled(@Html.DisplayNameFor(model => model.Notes));
        columns.Add(model => model.Active).Titled(@Html.DisplayNameFor(model => model.Active)).RenderedAs(model => model.Active == true ? "&#x2713;" : "&#x2717;").Encoded(false);
        columns.Add(model => model.Created).Titled(@Html.DisplayNameFor(model => model.Created));
        columns.Add(model => model.User.UserName).Titled(@Html.DisplayNameFor(model => model.User.UserName));
        columns.Add(model => model.Updated).Titled(@Html.DisplayNameFor(model => model.Updated)).InitialSort(GridSortOrder.Desc);
    })
    .RowAttributed(model => new { @class = model.IsPrint == true ? "grid-column-green" : (model.Active == true ? "" : "grid-column-red") })
    .Empty("Tidak ada data.")
    .Pageable(pager =>

    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 100, "100" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 5;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .UsingFilterMode(GridFilterMode.Row)
    .Filterable()
    .Sortable()
    .AppendCss("tablegrid-hover table-striped fix-table")
    .Id("data-table")
)
