@model IEnumerable<eShop.Models.Cheque>
@{
    Layout = null;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => Html.CheckBox(model.Id.ToString(), new { id = model.Id.ToString(), value = model.Id.ToString() })).Titled(Html.CheckBox("CheckAll"));
        columns.Add(model => ((User.IsInRole("ChequeOutsEdit")) ? "<div class=\"text-center\"><a class=\"btn btn-success btn-xs edit-data\" href=\"" + @Url.Action("Edit", "ChequeOuts", new { id = model.Id }) + "\"><i class=\"fa fa-edit\"></i> Edit</a>" : "") +
        ((User.IsInRole("ChequeOutsView")) ? "&nbsp;<a class=\"btn btn-primary btn-xs view-data\" href=\"" + @Url.Action("Details", "ChequeOuts", new { id = model.Id }) + "\"><i class=\"fa fa-eye\"></i> View</a>" : "") +
        ((User.IsInRole("ChequeOutsEdit")) ? "&nbsp;<a class=\"btn " + (model.Active ? " btn-danger" : "btn-warning") + " btn-xs decline-data\" href=\"" + @model.Id + "\"><i class=\"fa fa-ban\"></i>" + (model.Active ? " Ditolak" : " Batal Tolak") + "</a></div>" : "")).Encoded(false);
        columns.Add(model => model.Code).Titled(@Html.DisplayNameFor(model => model.Code)).Sortable(true);
        columns.Add(model => model.MasterBusinessUnit.Name).Titled(@Html.DisplayNameFor(model => model.MasterBusinessUnit.Name));
        columns.Add(model => model.OnBehalf).Titled(@Html.DisplayNameFor(model => model.OnBehalf));
        columns.Add(model => model.AccNumber).Titled(@Html.DisplayNameFor(model => model.AccNumber));
        columns.Add(model => model.Issued).Titled(@Html.DisplayNameFor(model => model.Issued));
        columns.Add(model => model.Ammount).Titled(@Html.DisplayNameFor(model => model.Ammount)).Formatted("{0:N0}");
        columns.Add(model => model.Date).Titled(@Html.DisplayNameFor(model => model.Date));
        columns.Add(model => model.DueDate).Titled(@Html.DisplayNameFor(model => model.DueDate));
        columns.Add(model => model.Allocated).Titled(@Html.DisplayNameFor(model => model.Allocated)).Formatted("{0:N0}");
        columns.Add(model => model.Notes).Titled(@Html.DisplayNameFor(model => model.Notes));
        columns.Add(model => model.Active).Titled(@Html.DisplayNameFor(model => model.Active)).RenderedAs(model => model.Active == true ? "&#x2713;" : "&#x2717;").Encoded(false);
        columns.Add(model => model.Created).Titled(@Html.DisplayNameFor(model => model.Created));
        columns.Add(model => model.Updated).Titled(@Html.DisplayNameFor(model => model.Updated)).InitialSort(GridSortOrder.Desc);
        columns.Add(model => model.User.UserName).Titled("User");
    })
    .RowAttributed(model => new { @class = model.Active == true ? "" : "grid-column-red" })
    .Empty("Tidak ada data.")
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 100, "100" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 5;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .UsingFilterMode(GridFilterMode.Row)
    .Filterable()
    .Sortable()
    .AppendCss("tablegrid-hover table-striped fix-table")
    .Id("data-table")
)