@model eShop.Models.MasterBusinessUnit

@{
    Layout = null;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Details - Master Unit Bisnis</h4>
        </div>
        <div class="modal-body">
            <div id="divEmp">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Code)
                            @Html.TextBoxFor(model => model.Code, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 text-center">
                            @Html.LabelFor(model => model.Active)
                            <div class="checkbox text-center">
                                @Html.CheckBoxFor(model => model.Active)
                                @Html.CheckBoxFor(model => model.Active, new { disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Management)
                            @Html.TextBoxFor(model => model.Management, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Management, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Mobile)
                            @Html.TextBoxFor(model => model.Mobile, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Phone1)
                            @Html.TextBoxFor(model => model.Phone1, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Phone2)
                            @Html.TextBoxFor(model => model.Phone2, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Fax)
                            @Html.TextBoxFor(model => model.Fax, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-8">
                            @Html.LabelFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Notes)
                            @Html.TextBoxFor(model => model.Notes, new { disabled = "disabled", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-danger btn-block btn-lg" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
