@model eShop.Models.MasterBusinessUnit

@{
    Layout = null;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit - Master Unit Bisnis</h4>
        </div>
        <div class="modal-body">
            <div id="divEmp">
                @using (Ajax.BeginForm("Edit", "MasterBusinessUnits", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp", OnSuccess = "EditSuccess" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab_1" data-toggle="tab">General</a></li>
                            <li><a href="#tab_2" data-toggle="tab">Pengaturan</a></li>
                            <li><a href="#tab_3" data-toggle="tab">Akun</a></li>
                            <li><a href="#tab_4" data-toggle="tab">Relasi</a></li>
                        </ul>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="tab-content">
                            <div class="tab-pane active form-horizontal" id="tab_1">
                                <div class="form-group">
                                    <div class="col-md-2">
                                        @Html.LabelFor(model => model.Code)
                                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.Name)
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2 text-center">
                                        @Html.LabelFor(model => model.Active)
                                        <div class="checkbox text-center">
                                            @Html.EditorFor(model => model.Active)
                                            @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.Management)
                                        @Html.EditorFor(model => model.Management, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Management, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Mobile)
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Phone1)
                                        @Html.EditorFor(model => model.Phone1, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Phone1, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Phone2)
                                        @Html.EditorFor(model => model.Phone2, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.Fax)
                                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.LabelFor(model => model.Email)
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Address)
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.Notes)
                                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane form-horizontal" id="tab_2">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.StartDate)
                                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 text-center">
                                        @Html.LabelFor(model => model.IsPPN)
                                        <div class="checkbox text-center">
                                            @Html.EditorFor(model => model.IsPPN)
                                            @Html.ValidationMessageFor(model => model.IsPPN, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.PPNRate)
                                        @Html.TextBoxFor(model => model.PPNRate, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.FCLLoadFee)
                                        @Html.TextBoxFor(model => model.FCLLoadFee, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FCLLoadFee, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.LCLLoadFee)
                                        @Html.TextBoxFor(model => model.LCLLoadFee, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LCLLoadFee, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(model => model.EmptyLoadFee)
                                        @Html.TextBoxFor(model => model.EmptyLoadFee, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EmptyLoadFee, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane form-horizontal" id="tab_3">
                                <div class="text-right col-md-12">
                                    <div class="box-body">
                                        <button id="btnAccountsAdd" class="btn btn-success mx-1" href="@Url.Action("AccountsCreate", "MasterBusinessUnits", new { masterBusinessUnitId = Model.Id })">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                        <a href="#" id="accountsBatchDelete" class="btn btn-danger mx-1">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box box-primary">
                                        <div class="box-body" style="overflow:auto; white-space: nowrap">
                                            @Html.AjaxGrid(Url.Action("AccountsGrid", routeValues: new { Id = Html.ValueFor(model => model.Id) }), new { id = "accounts-table" })
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane form-horizontal" id="tab_4">
                                <div class="text-right col-md-12">
                                    <div class="box-body">
                                        <button id="btnRelationsAdd" class="btn btn-success mx-1" href="@Url.Action("RelationsCreate", "MasterBusinessUnits", new { masterBusinessUnitId = Model.Id })">
                                            <i class="fa fa-plus"></i> Add
                                        </button>
                                        <a href="#" id="relationsBatchDelete" class="btn btn-danger mx-1">
                                            <i class="fa fa-trash"></i> Delete
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="box box-primary">
                                        <div class="box-body" style="overflow:auto; white-space: nowrap">
                                            @Html.AjaxGrid(Url.Action("RelationsGrid", routeValues: new { Id = Html.ValueFor(model => model.Id) }), new { id = "relations-table" })
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

}