@model eShop.Models.MasterBusinessUnit

@{
    ViewBag.Title = "Data Selection";
    ViewBag.Current = "MasterBusinessUnits";
}

@section Styles {
    @Styles.Render("~/style/mvcgrid")
    @Styles.Render("~/style/MvcDatalist")
}

<style>
    .tablegrid-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>

@Html.Partial("MvcDatalist/_Dialog")

<div class="content-wrapper">
    <section class="content-header-fixed">
        <h1 class="col-md-6">
            @Model.Name
        </h1>
    </section>

    <!-- Main content -->
    <section class="content" style="margin-top:30px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-database"></i>

                        <h3 class="box-title">Data Master</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterRegions" @if (!User.IsInRole("MasterRegionsAdd")) { @Html.Raw("disabled") } href="@Url.Action("AddMasterRegions", "DataSelection", new { id = Model.Id })">
                                                Wilayah
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterSuppliers" @if (!User.IsInRole("MasterSuppliersAdd")) { @Html.Raw("disabled") } href="@Url.Action("AddMasterSuppliers", "DataSelection", new { id = Model.Id })">
                                                Supplier
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterCustomers" href="@Url.Action("AddMasterCustomers", "DataSelection", new { id = Model.Id })">
                                                Konsumen
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterSalesPersons" href="@Url.Action("AddMasterSalesPersons", "DataSelection", new { id = Model.Id })">
                                                Sales
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterWarehouses" href="@Url.Action("AddMasterWarehouses", "DataSelection", new { id = Model.Id })">
                                                Gudang
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterAccounts" href="@Url.Action("AddMasterAccounts", "DataSelection", new { id = Model.Id })">
                                                Akun
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <!-- /.col -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-cube"></i>

                        <h3 class="box-title">Inventory</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterCategories" href="@Url.Action("AddMasterCategories", "DataSelection", new { id = Model.Id })">
                                                Kategori
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterBrands" href="@Url.Action("AddMasterBrands", "DataSelection", new { id = Model.Id })">
                                                Merek
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary btn-block btn-lg" id="btnMasterItems" href="@Url.Action("AddMasterItems", "DataSelection", new { id = Model.Id })">
                                                Barang
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-database"></i>

                        <h3 class="box-title">Setting</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary btn-block btn-lg" id="btnAccountsSetting" href="@Url.Action("AddAccountsSetting", "DataSelection", new { id = Model.Id })">
                                        Setting Akun
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</div>
<div class="modal fade" id="detailsModal" tabindex="-2" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="detailsContainer">
    </div>
</div>

<div class="modal fade" id="subdetailsModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="subdetailsContainer">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/mvcgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/script/Select2")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/bundles/MvcDatalist")
    @Scripts.Render("~/script/tableHeadFixer")
    @Scripts.Render("~/script/InputMask")

<script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }

        function AddRegionsSuccess() {
            $('#detailsContainer').html("");

            document.getElementById("btnMasterRegions").click();
        }

        function AddSuppliersSuccess() {
            $('#detailsContainer').html("");

            document.getElementById("btnMasterSuppliers").click();
        }

        var token = $('input[name="__RequestVerificationToken"]').val();
        var headers = {};
        headers['__RequestVerificationToken'] = token;

        $('#btnMasterRegions').click(function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data) {
                $('#detailsContainer').html(data);
                $('#detailsModal').modal('show');

                $('form').each(function () {
                    var $el = $(this);
                    $el.data('validator', null);
                    $.validator.unobtrusive.parse($el);
                });

                [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
                    new MvcGrid(element);
                });

                [].forEach.call(document.getElementsByClassName('datalist'), function (element) {
                    new MvcDatalist(element);
                });

                $("#batchDeleteRegions").click(function () {
                    event.preventDefault();
                    var selectedIDs = new Array();
                    var data = { ids: selectedIDs, masterBusinessUnitId: @Model.Id };

                    $('#details-table tbody tr').find('td:first :checkbox').each(function () {
                        if ($(this).prop('checked')) {
                            selectedIDs.push($(this).val());
                        }
                    });

                    if (selectedIDs.length <= 0) {
                        bootbox.alert("Pilih salah satu data yang akan dihapus.");
                    }
                    else {
                        bootbox.confirm("Apakah anda yakin akan menghapus " + selectedIDs.length + " data?", function (result) {
                            if (result) {
                                var options = {};
                                options.url = "/DataSelection/BatchDeleteRegions";
                                options.type = "POST";
                                options.headers = headers;
                                options.data = JSON.stringify(data);
                                options.contentType = "application/json";
                                options.dataType = "json";
                                options.success = function (msg) {
                                    bootbox.alert(msg);

                                    var grid = new MvcGrid(document.querySelector('#details-table'));
                                    grid.reload();
                                };
                                options.error = function () {
                                    bootbox.alert("Terjadi kesalahan saat menghapus.");
                                };
                                $.ajax(options);
                            }
                        });
                    }
                });
            });
        });

        $('#btnMasterSuppliers').click(function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            $.get(url, function (data) {
                $('#detailsContainer').html(data);
                $('#detailsModal').modal('show');

                $('form').each(function () {
                    var $el = $(this);
                    $el.data('validator', null);
                    $.validator.unobtrusive.parse($el);
                });

                [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element) {
                    new MvcGrid(element);
                });

                [].forEach.call(document.getElementsByClassName('datalist'), function (element) {
                    new MvcDatalist(element);
                });

                $("#batchDeleteSuppliers").click(function () {
                    event.preventDefault();
                    var selectedIDs = new Array();
                    var data = { ids: selectedIDs, masterBusinessUnitId: @Model.Id };

                    $('#details-table tbody tr').find('td:first :checkbox').each(function () {
                        if ($(this).prop('checked')) {
                            selectedIDs.push($(this).val());
                        }
                    });

                    if (selectedIDs.length <= 0) {
                        bootbox.alert("Pilih salah satu data yang akan dihapus.");
                    }
                    else {
                        bootbox.confirm("Apakah anda yakin akan menghapus " + selectedIDs.length + " data?", function (result) {
                            if (result) {
                                var options = {};
                                options.url = "/DataSelection/BatchDeleteSuppliers";
                                options.type = "POST";
                                options.headers = headers;
                                options.data = JSON.stringify(data);
                                options.contentType = "application/json";
                                options.dataType = "json";
                                options.success = function (msg) {
                                    bootbox.alert(msg);

                                    var grid = new MvcGrid(document.querySelector('#details-table'));
                                    grid.reload();
                                };
                                options.error = function () {
                                    bootbox.alert("Terjadi kesalahan saat menghapus.");
                                };
                                $.ajax(options);
                            }
                        });
                    }
                });
            });
        });

        document.addEventListener('reloadend', function (e) {
            if (e.detail.grid.element.id == 'details-table') {
                $('.fix-table').tableHeadFixer({ left: 2 });

                $('#CheckAll').click(function () {
                    var checkedStatus = this.checked;
                    $('#details-table tbody tr').find('td:first :checkbox').each(function () {
                        $(this).prop('checked', checkedStatus);
                    });
                });
            }
            else if (e.detail.grid.element.id == 'sub-details-table') {
                $('#CheckAll').click(function () {
                    var checkedStatus = this.checked;
                    $('#sub-details-table tbody tr').find('td:first :checkbox').each(function () {
                        $(this).prop('checked', checkedStatus);
                    });
                });
            }
        });
</script>
}
