@model eShop.Models.MasterBusinessUnitSupplierSelection

@{
    Layout = null;
}

<div id="divEmp">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title col-md-10">Supplier - @Model.MasterBusinessUnit.Name</h4>
                    </div>
                    <div class="modal-body">
                        @using (Ajax.BeginForm("AddMasterSuppliers", "DataSelection", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp", OnSuccess = "AddSuppliersSuccess" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <input type="hidden" id="MasterBusinessUnitId" name="MasterBusinessUnitId" value="@Model.MasterBusinessUnitId">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.MasterSupplierStartId)
                                    @Html.DatalistFor(model => model.MasterSupplierStartId, new eShop.Models.MasterSupplierDatalist())
                                    @Html.ValidationMessageFor(model => model.MasterSupplierStartId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-1">
                                    <label class="text-center">s/d</label>
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.MasterSupplierEndId)
                                    @Html.DatalistFor(model => model.MasterSupplierEndId, new eShop.Models.MasterSupplierDatalist())
                                    @Html.ValidationMessageFor(model => model.MasterSupplierEndId, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 text-right">
                                    <input type="submit" value="+ Add" class="btn btn-success" />
                                    <a id="batchDeleteSuppliers" class="btn btn-danger mx-1" href="#">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="box-body" style="overflow:auto; white-space: nowrap">
                            @Html.AjaxGrid(Url.Action("MasterSuppliersGrid", "DataSelection", new { masterBusinessUnitId = Model.MasterBusinessUnitId }), new { id = "details-table" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
