@model eShop.Models.SalesAdvance

@{
    Layout = null;
}

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Detail - Invoice</h4>
        </div>
        <div class="modal-body">
            <table align="center">
                <tr>
                    <td style="font-weight:bold;" width="130px" valign="top">
                        @Html.DisplayNameFor(model => model.Code)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Code)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.Loading.MasterShip.Name)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Loading.MasterShip.Name)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.Date)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Date)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.Loading.Total)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Loading.Total)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.Notes)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Notes)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.Created)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Created)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.Updated)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Updated)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight:bold;" valign="top">
                        @Html.DisplayNameFor(model => model.UserId)
                    </td>
                    <td style="font-weight:bold;" valign="top">
                        &nbsp;:&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.UserId)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr />
                        <table class="table-bordered table-striped table-hover" width="800px">
                            <tr>
                                <th style="font-weight: bold;">Jenis Barang</th>
                                <th style="font-weight: bold;">Quantity</th>
                                <th style="font-weight: bold;">Total (Rp)</th>
                                <th style="font-weight: bold;">Seal</th>
                                <th style="font-weight: bold;">Berat</th>
                                <th style="font-weight: bold;">Panjang</th>
                                <th style="font-weight: bold;">Lebar</th>
                                <th style="font-weight: bold;">Tinggi</th>
                                <th style="font-weight: bold;">Konsumen</th>
                            </tr>
                            @{
                                List<ERP.Models.LoadingDetails> loadingsDetails = ViewBag.LoadingsDetails;
                                foreach (var obj in loadingsDetails)
                                {
                                    @(Html.Raw("<tr><td>" + obj.WarehouseInputDetails.Type + "</td><td>" + obj.Quantity + "</td><td>" + obj.Total + "</td><td>" + obj.Seal + "</td><td>" + obj.WarehouseInputDetails.Weight + "</td><td>" + obj.WarehouseInputDetails.Length + "</td><td>" + obj.WarehouseInputDetails.Width + "</td><td>" + obj.WarehouseInputDetails.Height + "</td><td>" + obj.WarehouseInputDetails.QuotationDetails.Quotation.MasterCustomer.FullName + "</td></tr>"))

                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

