@model eShop.Models.VerificationHistory


@{
    ViewBag.Title = "Verifikasi Edit Pengeluaran";
    ViewBag.Current = "BankOuts";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
        </div>
    </section>
</div>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Verifikasi Edit Pengeluaran</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <i class="icon fa fa-ban"></i><span class="blink">Pengeluaran ini sudah pernah dicetak. Masukkan kode verifikasi untuk mengedit invoice.</span>
                </div>

                @using (Html.BeginForm("EditVerification", "BankOuts", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.BankTransaction.Code)
                                        @Html.HiddenFor(model => model.BankTransactionId)
                                        @Html.EditorFor(model => model.BankTransaction.Code, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.BankTransaction.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Verification)
                                        @Html.EditorFor(model => model.Verification, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Verification, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.LabelFor(model => model.Reason)
                                        @Html.EditorFor(model => model.Reason, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase" } })
                                        @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <input type="submit" value="Verifikasi" class="btn btn-primary" style="margin-top:10px" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")

    <script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
    </script>
}