@model eShop.Models.OpeningBallanceViewModel

@{
    ViewBag.Title = "Saldo Awal";
    ViewBag.Current = "OpeningBallance";
}

@section Styles {
    @Styles.Render("~/style/mvcgrid")
    <style>
        .grid-column-red {
            color: #EE0000;
            font-weight: bold;
        }

        .grid-column-green {
            color: #009900;
        }
    </style>
}

<style>
    .tablegrid-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
</style>

<div class="content-wrapper">
    <section class="content-header-fixed">
        <h1 class="col-md-6">
            Saldo Awal
        </h1>
        <div class="col-md-6 text-right">
            <div class="col-md-12">
                @Html.DropDownList("MasterBusinessUnitId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content" style="margin-top:30px;">
        <div class="box box-primary">
            <div class="box-body" style="overflow:auto; white-space: nowrap">
                @Html.AjaxGrid(Url.Action("IndexGrid"), new { id = "data-table" })
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div id="editContainer">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/mvcgrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @Scripts.Render("~/script/tableHeadFixer")
    @Scripts.Render("~/script/InputMask")

    <script>
        $.validator.methods.range = function (value, element, param)
        {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element)
        {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>

    <script>
        [].forEach.call(document.getElementsByClassName('mvc-grid'), function (element)
        {
            new MvcGrid(element);
        });        
                
        Inputmask.extendAliases({
            'myNum2': {
                alias: 'currency',
                digits: 2,
                digitsOptional: false,
                integerDigits: 12,
                prefix: '',
                groupSeparator: '.',
                radixPoint: ',',
                groupSize: 3,
                rightAlign: false,
                autoUnmask: true
            }
        });

        function EditSuccess(data) {
            if (data !== "success") {
                $('#editContainer').html(data);
                return;
            }
            $('#editModal').modal('hide');
            $('#editContainer').html("");

            var grid = new MvcGrid(document.querySelector('#data-table'));
            grid.reload();
        }
    </script>

    <script>
        var token = $('input[name="__RequestVerificationToken"]').val();
        var headers = {};
        headers['__RequestVerificationToken'] = token;

        $(document).ready(function ()
        {
            $("#MasterBusinessUnitId").on("change", function () {
                var Id = $("#MasterBusinessUnitId").val();

                var grid = new MvcGrid(document.querySelector('#data-table'));
                grid.query.set('id', Id);
                grid.reload();
            }).change();
        });

        document.addEventListener('reloadend', function (e) {
            if (e.detail.grid.element.id == 'data-table') {
                $('#data-table').on("click", ".edit-data", function (event) {
                    event.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function (data) {
                        $('#editContainer').html(data);
                        $('#editModal').modal('show');

                        $('form').each(function() {
                            var $el = $(this);
                            $el.data('validator', null);
                            $.validator.unobtrusive.parse($el);
                        });

                        Inputmask("myNum2").mask("#BeginningBallance");
                    });
                });
        
                
                $('.fix-table').tableHeadFixer({ left: 2 });
            }
        });
    </script>
}
