@model eShop.Models.Journal

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Ubah Tanggal Jurnal</h4>
        </div>
        <div class="modal-body">
            <div id="divEmp">
                @using (Ajax.BeginForm("DateEdit", "Journals", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "divEmp", OnSuccess = "EditSuccess" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.MasterBusinessUnitId)
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.Debit)
                    @Html.HiddenFor(model => model.Credit)
                    @Html.HiddenFor(model => model.Notes)
                    @Html.HiddenFor(model => model.Active)

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Date)
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 text-right">
                                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:10px" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>