@model IEnumerable<eShop.Models.Journal>
@{
    Layout = null;
}

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => ((User.IsInRole("JournalsView")) ? "<div class=\"text-center\"><a class=\"btn btn-primary btn-xs view-data\" href=\"" + @Url.Action("Details", "Journals", new { id = model.Id }) + "\"><i class=\"fa fa-eye\"></i> View</a>" : "") +
        ((User.IsInRole("JournalsEdit")) ? "&nbsp;<a class=\"btn btn-success btn-xs dateedit-data\" href=\"" + @Url.Action("DateEdit", "Journals", new { id = model.Id }) + "\"><i class=\"fa fa-edit\"></i> Ubah Tanggal</a></div>" : "")).Encoded(false);
        columns.Add(model => model.User.UserName).Titled("User");
        columns.Add(model => model.Code).Titled(@Html.DisplayNameFor(model => model.Code));
        columns.Add(model => model.Date).Titled(@Html.DisplayNameFor(model => model.Date)).Formatted("{0:d}").InitialSort(GridSortOrder.Desc);
        columns.Add(model => model.MasterBusinessUnit.Code).Titled(@Html.DisplayNameFor(model => model.MasterBusinessUnit.Code));
        columns.Add(model => model.Debit).Titled(@Html.DisplayNameFor(model => model.Debit)).Formatted("{0:N2}");
        columns.Add(model => model.Credit).Titled(@Html.DisplayNameFor(model => model.Credit)).Formatted("{0:N2}");
        columns.Add(model => model.Notes).Titled(@Html.DisplayNameFor(model => model.Notes));
        columns.Add(model => model.Type).Titled(@Html.DisplayNameFor(model => model.Type));
        columns.Add(model => model.Active).Titled(@Html.DisplayNameFor(model => model.Active)).RenderedAs(model => model.Active == true ? "&#x2713;" : "&#x2717;").Encoded(false);
        columns.Add(model => model.Created).Titled(@Html.DisplayNameFor(model => model.Created));
        columns.Add(model => model.Updated).Titled(@Html.DisplayNameFor(model => model.Updated));
    })
    .RowAttributed(model => new { @class = model.Active == true ? "" : "grid-column-red" })
    .Empty("Tidak ada data.")
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 10, "10" }, { 100, "100" } };
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 5;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 10;
    })
    .UsingFilterMode(GridFilterMode.Row)
    .Filterable()
    .Sortable()
    .AppendCss("tablegrid-hover table-striped fix-table")
    .Id("others-table")
)